@font-face {
  font-family: 'IRANSans';
  src: url('./assets/IRANSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

* {
  font-family: 'IRANSans', sans-serif;
}

body {
  font-family: 'IRANSans', sans-serif;
}